@media screen and (max-width: 1100px) {
    .container {
        align-items: center;
        justify-content: center;
    }

    .title {
        line-height: 1.4;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-bottom: 50px;
        margin-top: 200px;
    }

    .left-side {
        width: 100%;
        text-align: center;
        padding: 20px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 200px;
        height: 800px;
    }

    .search-wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
    }

    .search-wrapper label {
        text-align: left;
        width: 100%;
        display: block;
        direction: ltr;
    }

    .input-text {
        text-align: left;
        display: block;
        width: 100%;
        margin-left: 90px;
        direction: ltr;
    }

    .coordinates {
        white-space: nowrap;
        width: 100%;
        max-width: 90%;
        text-align: center;
        position: static;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .right-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather-card-wrapper {
        width: 90%;
        max-width: 450px;
        padding: 15px;
        background-color: #e0e0e0;
        border-radius: 12px;
    }

    .weather-card {
        width: 100%;
        margin: 30%;
        padding: 20px;
        background-color: #1E5D74;
        border-radius: 12px;
        max-width: 300px;
        font-size: 14px;
    }

    .fintax-image {
        margin-top: 150px;
    }
}

@media screen and (max-width: 960px) {
    .right-side {
        margin-right: 200px;
        width: 300px;
        margin-left: 50px;
    }

    .left-side {
        margin-left: 200px;
        width: 350px;
    }

    .title {
        font-size: 1.6rem;
        margin-left: 10px;
    }

    .search-wrapper {
        margin-right: 200px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 895px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .right-side {
        margin-top: 0px;
        width: 70%;
        margin-left: 50%;
        margin-right: 40%;
    }

    .left-side {
        margin-top: 400px;
        margin-bottom: 0px;
        width: 70%;
        margin-left: 0px;
    }

    .coordinates {
        margin-top: 100px;
    }

    .title {
        margin-top: 300px;
    }

    .right-side .weather-card {
        width: 800px;
        margin: 0px;
    }
}

@media screen and (max-width: 590px) {}