.weather-card {
    max-height: 500px;
    background-color: var(--weather-card);
    border-radius: 20px;
    margin: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 450px; /* הגדלה מעטה של הכרטיס */
    height: 550px;
    padding: 30px;
    gap: 20px;
}

 /* Location Title */
.location {
    color: var(--city-hourly-forecast-weather-status);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 5px;
}

/* Country Name  */
.country {
    margin-top: -10px;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--country-time);
}

 /* Date and Time */
.date-time {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    color: var(--country-time);
}

/* Main Temperature */
.temperature {
    margin-top: -30px;
    font-size: 6.5rem; 
    font-weight: 600;
    margin-right:  30px;
    color: var(--temp-check-weather-stats-hourly-forecast);
}
.weather-status {
    color: var(--city-hourly-forecast-weather-status);
    margin-top: -40px;
    font-size: 1.8rem;
    font-weight: 300;
}
/* Weather Stats (Precipitation, Humidity, Wind) */
.weather-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    font-size: 19px;
}

.hour {
    font-size: 1.2rem;
    font-weight: 100;
}

.temp {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--temp-check-weather-stats-hourly-forecast);
}

.hours-row,
.temps-row {
    display: flex;
    justify-content: space-around;
}
.hour{
    color: var(--temp-check-weather-stats-hourly-forecast);
    
}

.hour,
.temp {
    width: 50px;
    text-align: center;
    font-size: 19px;
    margin-bottom: -10xp;
}
.wind{
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--city-hourly-forecast-weather-status);
}
.icon{
    color:var(--temp-check-weather-stats-hourly-forecast) ;
}